<% @categories.each do |category, users| %>
  <section class="main special">
    <header class="major">
	  <h3><%= category %></h3>
	</header>
	<dl class="alt">
      <% users.each do |user| %>
        <dt><%= user.rank %></dt>
        <dd><%= user.full_name %></dd>
	  <% end %>
	</dl>
  </section>
<% end %>
